[submodule "depends/zlog"]
	path = depends/zlog
	url = git@github.com:wangjian1009/zlog.git
[submodule "depends/syslog-win32"]
	path = depends/syslog-win32
	url = git@github.com:wangjian1009/syslog-win32.git
[submodule "depends/unixem"]
	path = depends/unixem
	url = git@github.com:wangjian1009/unixem.git
[submodule "depends/mimalloc"]
	path = depends/mimalloc
	url = https://github.com/microsoft/mimalloc.git
